.table-section .table-section .table{
    color: #101010;
    width: 70%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}
.table-section .table-section .table .thead th{
    position: sticky;
    top: 0;
    background-color: #878787;
    stroke-width: 2px;
    font-style: 15px;
}

.table-section .table-section .table .th, td{
    padding: 2px 50px;
    word-break: break-all;
    text-align: center;
}

.table-section{
    font: 20px;
}