.table-container{
    /* width: 70%; */
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 20px;
  }

 .table-container .header_songlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #101010;
}

.table-section .table-section .table{
    color: #101010;
    width: 70%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}
.table-section .table-section .table .thead th{
    position: sticky;
    top: 0;
    background-color: #878787;
    stroke-width: 2px;
    font-style: 15px;
}

.table-section .table-section .table .th, td{
    padding: 2px 50px;
    word-break: break-all;
    text-align: center;
}

.table-section{
    font: 20px;
}